.todos {
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ccc;

        &--completed {
            text-decoration: line-through;
            color: #888;
        }
    }
}
li {
    list-style: none;
}